version: "3.9"

services:
  sqlserver:
    build: ./sql_server
    container_name: sqlserver
    environment:
      ACCEPT_EULA: Y
      SA_PASSWORD: Vjezbe123!
    ports:
      - "1433:1433"
    healthcheck:
      test: ["CMD", "test", "-f", "/var/opt/mssql/.initialized"]
      interval: 10s
      timeout: 5s
      retries: 5

  etl:
    build: ./etl
    depends_on:
      sqlserver:
        condition: service_healthy